{% extends "base.html" %}

{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="form-group">
          {{ form.title.label(class="form-control-label") }}
          {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.title(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.content.label(class="form-control-label") }}
          {{ form.content }}
          {% if form.content.errors %}
            {{ form.content(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.graph.label(class="form-control-label") }}
          <small class="text-muted">
            <a href="{{ url_for('help') }}">What's this?</a>
          </small>
		  <!-- NEW: Button to go to Graph Fill Form -->
		  <div class="form-group"> 
			<!-- {{ form.submit(class="btn btn-outline-primary") }} -->
			<a class="btn btn-primary" style="color:white" data-toggle="modal" data-target="#FormModal2"">Fill by Form</a>
		  </div>

          {% if form.graph.errors %}
            {{ form.graph(**{'data-toggle': 'tooltip', 'title': 'Enter each edge with two vertices in the format v1-v2,v2-v3.', 'class': 'form-control form-control-lg is-invalid', 'data-placement': 'right'}) }}
            <div class="invalid-feedback">
              {% for error in form.graph.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
              {{ form.graph(**{'data-toggle': 'tooltip', 'title': 'Enter each edge with two vertices in the format v1-v2,v2-v3.', 'class': 'form-control form-control-lg', 'data-placement': 'right'}) }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.roles.label(class="form-control-label") }}
          {% if form.roles.errors %}
            {{ form.roles(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.roles.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.roles(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.users.label(class="form-control-label") }}
          {% if form.users.errors %}
            {{ form.users(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.users.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.users(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-primary") }}
        <a class="btn btn-outline-danger mr-2" href="{{ url_for('home') }}">Cancel</a>
      </div>
    </form>
    <div class="border-top pt-1">
      <small class="text-muted">
        *Sharing a document to everyone? Select the Employee role.
      </small>
    </div>
  </div>
  {{ ckeditor.load() }}
  {% if request.MOBILE %}
    {{ ckeditor.config(name='content', height=200, custom_config="allowedContent: true") }}
  {% else %}
    {{ ckeditor.config(name='content', height=500, custom_config="allowedContent: true") }}
  {% endif %}


<div class="modal fade" id="FormModal2" tabindex="-1" role="dialog" aria-labelledby="FormModal2Label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="FormModal2Label">Search by Form</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p><small id="headerHelp" class="text-muted">Enter information to automatically generate a search graph.</small></p>
				<h5 class="modal-title" id="FormLawLabel">Title 20. Domestic Relations</h5>
				
				<form id="TheForm" name="TheForm">
					<div class="form-group gform-group">
						<div class="row">	
							<div class="col">
								<label for="Child">Child</label>
								<input type="Child" class="form-control" id="Child" name="Child" aria-describedby="childHelp" placeholder="Child name">
								<small id="childHelp" class="form-text text-muted">Subject of custody dispute</small>
							</div>
							<div class="col">
								<label for="childState">Child's current state</label>
								<select class="form-control" id="childState" name="childState">
									<option value="0">Select a state</option>
									<option value="1">Florida</option>
									<option value="2">Michigan</option>
									<option value="3">Virginia</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group gform-group">
						<div class="row">	
							<div class="col">
								<label for="startDate">Start date</label>
								<input id="startDate" name="startDate" type="date" class="form-control">
								<small id="startDateHelp" class="form-text text-muted">Date of child's arrival to current state</small>
							</div>
							<div class="col">
								<label for="endDate">Current date</label>
								<input id="endDate" name="endDate" type="date" class="form-control">
							</div>
						</div>
					</div>

					<div class="form-group gform-group border-top">
						<div class="row">	
							<div class="col">
								<label for="Parent1">Parent 1</label>
								<input type="parent1" class="form-control" id="Parent1" name="Parent1" placeholder="Claimant">
							</div>
							<div class="col">
								<label for="parent1State">Parent 1 State</label>
								<select class="form-control" id="parent1State" name="parent1State">
									<option value="0">Select a state</option>
									<option value="1">Florida</option>
									<option value="2">Michigan</option>
									<option value="3">Virginia</option>
								</select>
							</div>
						</div>
						<div class="row">	
							<div class="col">
								<label class="lab" for="parent1Jurisdiction">Case 1's claimed jurisdiction</label>
								<select class="form-control" id="parent1Jurisdiction" name="parent1Jurisdiction">
									<option value="0">Select a jurisdiction</option>
									<option value="1">Home state</option>
									<option value="2">Exclusive, continuing</option>
								</select>
								<small id="parent1JurisdictionHelp" class="form-text text-muted">Jurisdiction for parent 1's case</small>
							</div>
						</div>
					</div>

					<div class="form-group gform-group border-top">
						<div class="row">	
							<div class="col">
								<label for="Parent2">Parent 2</label>
								<input type="parent2" class="form-control" id="Parent2" name="Parent2" placeholder="Respondent">
							</div>
							<div class="col">
								<label for="parent2State">Parent 2 State</label>
								<select class="form-control" id="parent2State" name="parent2State">
									<option value="">Select a state</option>
									<option value="1">Florida</option>
									<option value="2">Michigan</option>
									<option value="3">Virginia</option>
								</select>
							</div>
						</div>
					
						<div class="row">	
							<div class="col">
								<label class="lab" for="parent2Jurisdiction">Case 2's claimed jurisdiction</label>
								<select class="form-control" id="parent2Jurisdiction" name="parent2Jurisdiction">
									<option value="0">Select a jurisdiction</option>
									<option value="1">Home state</option>
									<option value="2">Exclusive, continuing</option>
								</select>
								<small id="parent2JurisdictionHelp" class="form-text text-muted">Jurisdiction for parent 2's case</small>
							</div>
						</div>
					</div>

					<div class="form-group gform-group border-top">
						<div class="row">	
							<div class="col">
								<label class="form-check-label" for="checks">
									Jurisdiction retained in:
								</label>
								<div class="form-check">
									<input id="checkParentNA" name="checkParent" class="form-check-input" type="radio" value="0" checked> N/A
								</div>
								<div class="form-check">
									<input id="checkParent1" name="checkParent" class="form-check-input" type="radio" value="1"> Parent 1's case
								</div>
								<div class="form-check">
									<input id="checkParent2" name="checkParent" class="form-check-input" type="radio" value="2"> Parent 2's case
								</div>
							</div>
						</div>
					</div>


					</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" id="auto_string_btn" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
	jQuery.validator.setDefaults({
		debug: true,
		success: "valid"
	});

	jQuery.validator.addMethod("lessThan",  // Checking valid start/end dates
		function(value, element, params) {
			// console.log($(params).val().length);
			if($(params).val().length==0){
				return true;
			}
			if (!/Invalid|NaN/.test(new Date(value))) {
				return new Date(value) < new Date($(params).val());
			}

			return isNaN(value) && isNaN($(params).val()) 
				|| (Number(value) < Number($(params).val())); 
		},
		'Must be before current date.' // Error message
	);

	jQuery.validator.addMethod("parentJurisdictionEntered", 
		function(value, element, params) {
			if ($('input[name=checkParent]:checked', "#TheForm").val()==0){ // N/As
				// console.log("OK, N/A");
				return true;
			}
			else if ($('input[name=checkParent]:checked', "#TheForm").val()==1){ // Parent 1's jurisdiction chosen
				if ($(params[0]).val().length!=0 && $(params[1]).val()!=0 && $(params[2]).val()!=0){
					return true;
				} else {
					return false;
				}
			}
			else if ($('input[name=checkParent]:checked', "#TheForm").val()==2){ // Parent 2's jurisdiction chosen
				if ($(params[3]).val().length!=0 && $(params[4]).val()!=0 && $(params[5]).val()!=0){
					return true;
				} else {
					return false;
				}
			}
		},
		'Select N/A if missing parent, their state of residence, and/or their claimed jurisdiction.'
	);


	var gform1 = $( "#TheForm" );
	gform1.validate({
		rules:{
			Child: 'required',
			childState: 'required',
			startDate: {
				required: function(element) {
					return $("#endDate").val().length!=0;
				},
				lessThan: "#endDate"
			},
			endDate: {
				required: function(element) {
					return $("#startDate").val().length!=0;
				}
			},
			Parent1: {
				required: function(element) {
					return $("#parent1State").val().length!=0;
				}
			},
			checkParent: {
				parentJurisdictionEntered: ["#Parent1","#parent1State","#parent1Jurisdiction","#Parent2","#parent2State","#parent2Jurisdiction"]
			}
		}
	});


	function formatVEV(v1, e, v2, v1type="val", v2type="val") {
		if (v1type=="text"){
			V1 = $(v1).text();
		} else {V1 = $(v1).val();}
		if (v2type=="text"){
			V2 = $(v2).text();
		} else {V2 = $(v2).val();}

		return "," + V1 + "-" + e + "-" + V2;
	}

	$('#auto_string_btn').click(function(){
		if (gform1.valid()){
			const residency_req_dict = {
				"Florida" : 183,
				"Michigan" : 183,
				"Virginia" : 183,
				"Idaho" : 270,
				"Hawaii" : 200,
				// Add a wildcard default of 183 days??
			};

			var start = $('#startDate').val();
			var end = $('#endDate').val();
			const Start = new Date(start);
			const End = new Date(end);
			// end - start returns difference in milliseconds 
			var Diff = new Date(End - Start);
			// console.log(Date(Diff));
			var Days = Diff/1000/60/60/24;

			////////////////////////////
			// Put the graph together //
			////////////////////////////
			// var prep_string = "graph:"; // Build graph search string from here
			var prep_string = ""; // Must start empty bc no longer a Search

			prep_string = prep_string + $('#Child').val() + "-LivesIn-" + $('#childState :selected').text();

			if (Days >= residency_req_dict[$('#childState :selected').text()]) {
				// prep_string = prep_string + "," + $('#childState :selected').text() + "-IsResidenceOf-" + $('#Child').val();
				prep_string = prep_string + formatVEV('#Child', "IsResidentOf", '#childState :selected', v1type="val", v2type="text");
			}

			// Parents
			juris_dict = {1:"HasHomeState", 2:"HasExclusiveContinuing"};
			if ($('#Parent1').val().length!=0){
				prep_string = prep_string + formatVEV('#Parent1', "IsParentOf", '#Child');
				prep_string = prep_string + formatVEV('#Parent1', "IsClaimantOf", '#Child');
				if ($('#parent1State').val()!=0){
					prep_string = prep_string + formatVEV('#Parent1', "IsFrom", '#parent1State option:selected', v1type="val", v2type="text");
					if ($('#parent1Jurisdiction :selected').val()!=0){
						var jurisdiction1 = juris_dict[$('#parent1Jurisdiction :selected').val()];
						prep_string = prep_string + formatVEV('#Parent1', jurisdiction1, '#Child', v1type="val", v2type="val");
						console.log($('input[name=checkParent]:checked', '#TheForm').val());
						if ($('input[name=checkParent]:checked', '#TheForm').val()=="1"){
							prep_string = prep_string + formatVEV('#Parent1', "RetainsJurisdictionOver", '#Child', v1type="val", v2type="val");
						}
					}
				}
			}

			if ($('#Parent2').val().length!=0){
				prep_string = prep_string + formatVEV('#Parent2', "IsParentOf", '#Child');
				prep_string = prep_string + formatVEV('#Parent2', "IsRespondentOf", '#Child');
				if ($('#parent2State').val()!=0){
					prep_string = prep_string + formatVEV('#Parent2', "IsFrom", '#parent2State :selected', v1type="val", v2type="text");
					if ($('#parent2Jurisdiction :selected').val()!=0){
						var jurisdiction2 = juris_dict[$('#parent2Jurisdiction :selected').val()];
						prep_string = prep_string + formatVEV('#Parent2', jurisdiction2, '#Child', v1type="val", v2type="val");
						if ($('input[name=checkParent]:checked', '#TheForm').val()=="2"){
							prep_string = prep_string + formatVEV('#Parent2', "RetainsJurisdictionOver", '#Child', v1type="val", v2type="val");
						}
					}
				}
			}

			////////////////////////////////////
			// Submit/paste to the search bar //
			////////////////////////////////////
			$('#FormModal2').modal('hide');
			// $('#search_bar').val(prep_string.toLowerCase());
			$('#graph').val(prep_string); // Do not want edges put to lowercase...

		}
		else{
			// Does anything even need to go here???
		}
	});

</script>
{% endblock content %}
