{% extends "base.html" %}

{% block content %}
  {% if current_user.is_authenticated %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <h1>My Documents</h1>
    <form id="temp" method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="input-group rounded">
          {% if form.search_bar.errors %}
            {{ form.search_bar(**{'data-toggle': 'tooltip', 'title': 'Precede your search with graph: to perform a graph search.', 'class': 'form-control rounded mr-2 is-invalid', 'data-placement': 'right'}) }}
            {{ form.submit(class="btn btn-outline-primary mr-2") }}
            <div class="invalid-feedback">
              {% for error in form.search_bar.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.search_bar(**{'data-toggle': 'tooltip', 'title': 'Precede your search with graph: to perform a graph search.', 'class': 'form-control rounded mr-2', 'data-placement': 'right'}) }}
            {{ form.submit(class="btn btn-outline-primary mr-2") }}
			<a class="btn btn-outline-primary mr-2" href="{{ url_for('new_document') }}">Create</a>
          {% endif %}
	</form>
			<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FormModal">
	Search by Form
</button>

</fieldset>

<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="FormModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="FormModalLabel">Search by Form</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<p><small id="headerHelp" class="text-muted">Enter information to automatically generate a search graph.</small></p>
				<h5 class="modal-title" id="FormLawLabel">Title 20. Domestic Relations</h5>
				
				<form id="TheForm" name="TheForm">
					<div class="form-group">
						<div class="row">	
							<div class="col">
								<label for="Child">Child</label>
								<input type="Child" class="form-control" id="Child" name="Child" aria-describedby="childHelp" placeholder="Child name">
								<small id="childHelp" class="form-text text-muted">Subject of custody dispute</small>
							</div>
							<div class="col">
								<label for="State">Current State</label>
								<input type="State" class="form-control" id="State" name="State" placeholder="State of adjudication">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">	
							<div class="col">
								<label for="Parent1">Parent 1</label>
								<input type="parent1" class="form-control" id="Parent1" name="Parent1" placeholder="First Parent">
							</div>
							<div class="col">
								<label for="Parent2">Parent 2</label>
								<input type="parent2" class="form-control" id="Parent2" name="Parent2" placeholder="Second Parent">
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">	
							<div class="col">
								<label for="startDate">Start date</label>
								<input id="startDate" name="startDate" type="date" class="form-control">
								<small id="startDateHelp" class="form-text text-muted">Date of child's arrival to current state</small>
							</div>
							<div class="col">
								<label for="endDate">Current date</label>
								<input id="endDate" name="endDate" type="date" class="form-control">
							</div>
						</div>
					</div>

					</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" id="auto_string_btn" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>
    {% for document in documents.items %}
      <article class="media content-section document-images">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">
              <b>Updated:</b> {{ document.updated_at.strftime('%Y-%m-%d %H:%M') }}

              {% if request.MOBILE %}
                <br>
              {% endif %}

              <b>Users:</b>
              {% if document.user|length > 0 %}
                {% for user in document.user %}
                  {{ user.username }}
                {% endfor %}
              {% else %}
                <i>None</i>
              {% endif %}

              {% if request.MOBILE %}
                <br>
              {% endif %}

              <b>Roles:</b>
              {% if document.role|length > 0 %}
                {% for role in document.role %}
                  {{ role.title }}
                {% endfor %}
              {% else %}
                <i>None</i>
              {% endif %}
            </small>

            {% if request.MOBILE %}
              <br>
              <a class="btn btn-outline-primary mt-1 mr-1 btn-sm" href="{{ url_for('view_document', document_id=document.id) }}">View</a>
              <a class="btn btn-outline-primary mt-1 mr-1 btn-sm" href="{{ url_for('edit_document', document_id=document.id) }}">Edit</a>
              <a class="btn btn-outline-primary mt-1 mr-1 btn-sm" href="{{ url_for('duplicate_document', document_id=document.id) }}">Copy</a>
              <a class="btn btn-outline-danger mt-1 btn-sm" href="{{ url_for('delete_document', document_id=document.id) }}">Delete</a>
            {% else %}
              <a class="btn btn-outline-danger btn-sm float-right" href="{{ url_for('delete_document', document_id=document.id) }}">Delete</a>
              <a class="btn btn-outline-primary mr-2 btn-sm float-right" href="{{ url_for('duplicate_document', document_id=document.id) }}">Copy</a>
              <a class="btn btn-outline-primary mr-2 btn-sm float-right" href="{{ url_for('edit_document', document_id=document.id) }}">Edit</a>
              <a class="btn btn-outline-primary mr-2 btn-sm float-right" href="{{ url_for('view_document', document_id=document.id) }}">View</a>
            {% endif %}
          </div>

          <div class="text-break text-wrap">
            <h3>{{ document.title }}</h3>
          </div>

          {% if document.content|length > 1000 %}
            <p class="article-content">{{ document.content[:1000] | safe }}... <a class="" href="{{ url_for('view_document', document_id=document.id) }}">Read More</a></p>
          {% else %}
            <p class="article-content limit-img-size">{{ document.content | safe }}</p>
          {% endif %}
        </div>
      </article>
    {% endfor %}
    <div class="d-flex justify-content-center">
      {% for page_num in documents.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if documents.page == page_num %}
            <a class="btn btn-primary mb-4 mr-2" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-primary mb-4 mr-2" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <h1>Welcome to VOiC</h1>
    <p>
      While almost all of the documents we write, read, share, act on, process or archive are digital, their management remains archaic. This is particularly true in the case of most office and government systems. In business and government, documents chronicle and immortalize the evolution of thoughts, deliberations, laws and decisions for the for the past as historical records, the present and the future. While the traditional paper-based hard copies serve as reliable preservation medium, they are vulnerable to theft, destruction and loss.
    </p>
    <p>
      <img src="{{ url_for('static', filename='img/devices-medium.png') }}" alt="desktop" class="float-left mr-2">
      On the other hand, digital documents are prone to cybercrimes of various kinds, but less prone to destruction due to aging, fading or loss. With proper safeguards in place, they are largely indestructible. Yet, a robust office document management system is mostly absent. In this project, we develop a new web-based document processing and management system called <u><i>V</i></u>irtual <u><i>O</i></u>ffice in the <u><i>C</i></u>loud}, or <i>VOiC</i> (pronounced voice), to create, share, query and update office documents. In VOiC, we make provisions to support decision workflows, virtual office and provenance and privacy based on role-based authorization. The system is based upon a recently proposed model for document management in virtual offices.
    </p>
    <a class="btn btn-outline-primary mb-5 btn-lg d-flex justify-content-center" href="{{ url_for('sign_up') }}">Try It Now</a>
  {% endif %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
	jQuery.validator.setDefaults({
		debug: true,
		success: "valid"
	});


	var gform1 = $( "#TheForm" );
	gform1.validate({
		rules:{
			Child: 'required',
			Parent1: 'required'
		}
	});


	$('#auto_string_btn').click(function(){
		if (gform1.valid()){
			var prepare_long_string = "graph:"; //
			const residency_req_dict = {
				"Michigan" : 183,
				"Virginia" : 183,
				"Idaho" : 270,
				"Hawaii" : 200,
				// Add a wildcard default of 183 days??
			};

			var start = $('#startDate').val();
			var end = $('#endDate').val();
			const Start = new Date(start);
			const End = new Date(end);
			console.log(End);
			// end - start returns difference in milliseconds 

			var Diff = new Date(End - Start);
			console.log(Date(Diff));

			// get days
			var Days = Diff/1000/60/60/24;

			prepare_long_string = prepare_long_string + $('#Child').val() + Days;

			$('#search_bar').val(prepare_long_string);
			// $("form[name='#TheForm']").validate();
			$('#FormModal').modal('hide');
		}
		else{
			
		}
	});

</script>

{% endblock %}
